/* Section contests */
#timeline-contests {
    margin-top: 120px;
    margin-bottom: 120px;
}
.event-custom {
    border-top: 1px solid grey;
    border-radius: 10px;
}
.event-custom .title {
    font-weight: bold;
}

.event-custom .event__date {
    border-bottom: 1px solid rgb(85, 123, 204);
}

.event-custom .location {
    color: rgb(88, 88, 88);
}
.event-custom .more-information {
    border-bottom: 1px solid grey;
}
/* Section contests */
